html{
    width: 100%;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Georgia", Times, serif;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #ECEBEA;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid black;
}
nav{
    display: none;
    background-color: black;
    color: white;
}
footer{
    background-color: #C0C0C0;
    text-align: center;
    padding: 10px;
}
footer .footer-container{
    display: flex;
    justify-content: space-around;
}
footer .footer-container ul li a{
    text-decoration: none;
    color: #252323;
}
footer .footer-container ul li a:hover{
    text-decoration: none;
    color: #6b86ff;
}
.img-footer{
    width: 80%;
}
main.container{
    margin: 5px;
}
.column-main{
    display: flex;
    flex-wrap: wrap;
}
.column-left-side{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.column-right-side{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.toggle-menu{
    width: 80px;
    
}
.header-img{
    width: 75%;
    height: auto;
}
.column-main div.main-news{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
}
div.secondary-news{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
}
.main-news .main-img{
    width: 80%;
}
.secondary-news .sm-img{
    width: 50%;
}
.no-underline{
    text-decoration: none;
}
.pointer{
    cursor: pointer;
}
.bold{
    font-weight: bold;
}
.main-news h2.title{
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.main-news p.subtitle{
    color: #555555;
}
.secondary-news h2.title{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.column-right-side .title{
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
}
.secondary-news p.subtitle{
    color: #555555;
}
a.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
span.news-info{
    display: block;
    color: #f88e8e;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    margin-left: 3px;
}
div.most-read-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;
}
.most-read-number{
    width: 15%;
}
.most-read-text{
    width: 50%;
}
.most-read-text a {
    text-decoration: none;
    color: black;
}
.most-read-text a:hover {
    color: #f88e8e;
}
.most-read-img{
    text-align: center;
    width: 35%;
}
.most-read-img img{
    width: 70%;
}
.most-read-number span{
    padding: 4px;
    color: #f88e8e;
    background-color: #C0C0C0;
    font-weight: bold;
    border-radius: 50%;
    font-size: 35px;
}
/* .secondary-news.flex{
    display: flex;
    align-items: center;
} */
.mt-1{
    margin-top: 3px;
}
.mt-2{
    margin-top: 6px;
}
.mt-3{
    margin-top: 9px;
}
.mb-2{
    margin-bottom: 6px;
}
@media (min-width: 480px) {
    main.container{
        display: flex;
        flex-wrap: wrap;
    }
    header{
        flex-wrap: wrap;
    }
    .column-main{
        width: 70%;
        order: 2;
    }
    .column-left-side{
        width: 30%;
        background-color: green;
        order: 1;
    }
    .column-right-side{
        width: 100%;
        background-color: purple;
        order: 3;
    }
    .toggle-menu{
        display: none;
    }
    nav{
        display: block;
        width: 100%;
        height: 35px;
    }
    nav .navbar{
        display: flex;
        justify-content: space-around;
        padding-top: 10px;

    }
    nav .navbar li a{
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-size: 13px;
    }
    nav .navbar li a:hover{
        background-color: red;
    }
    .header-img{
        width: 50%;
        height: auto;
    }
    .column-main div.secondary-news{
        width: 50%;
    }
}
@media (min-width: 800px) {
    .column-main{
        width: 50%;
        order: 2;
    }
    .column-left-side{
        width: 25%;
        background-color: green;
        order: 1;
    }
    .column-right-side{
        width: 25%;
        background-color: purple;
        order: 3;
    }
    nav .navbar li a{
        font-size: 16px;
    }
}