html{
    width: 100%;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Georgia", Times, serif;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #ECEBEA;
    margin-left: 5px;
    margin-right: 5px;
}
nav{
    display: none;
    background-color: black;
    color: white;
}
footer{
    background-color: #C0C0C0;
    text-align: center;
    padding: 10px;
}
footer .footer-container{
    display: flex;
    justify-content: space-around;
}
footer .footer-container ul li a{
    text-decoration: none;
    color: #252323;
}
footer .footer-container ul li a:hover{
    text-decoration: none;
    color: #f88e8e;
}
footer .social-media-container{
    display: flex; 
    justify-content: center; 
    margin: auto; 
    width: 80%;
}
footer .social-media-item{
    width: 10%;
}
footer .social-media-item img{
    width: 100%;
    cursor: pointer;
}
p.text-date{
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 6px;
}
header .main-header{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
main{
    width: 95%;
    margin: auto;
}
.column-main{
    display: flex;
    flex-wrap: wrap;
}
.column-main-container{
    padding: 10px;
}
.column-left-side{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.left-side-container{
    padding: 10px;
}
.column-right-side{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.toggle-menu{
    display: flex;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}
.header-img{
    width: 100%;
    height: auto;
}
.column-main div.main-news{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
}
.column-main div.main-news.no-border{
    border-bottom: 0;
}
.column-main div.main-news:hover{
    box-shadow: 0 0 2px;
}
div.secondary-news{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
}
.column-main div.secondary-news:hover{
    box-shadow: 0 0 2px;
}
.left-side-container div.secondary-news:hover{
    box-shadow: 0 0 2px;
}
.main-news .main-img{
    width: 80%;
}
.secondary-news .sm-img{
    width: 50%;
}
.no-underline{
    text-decoration: none;
}
.pointer{
    cursor: pointer;
}
.bold{
    font-weight: bold;
}
.main-news h2, h1{
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.main-news p.subtitle{
    color: #555555;
}
.secondary-news h2{
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.column-left-side .secondary-news{
    padding-top: 10px;
    padding-bottom: 10px;
}
.column-left-side div.secondary-news a h2{
    font-size: 15px;
}
.column-right-side .title{
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
}
.secondary-news p.subtitle{
    color: #555555;
}
a.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
span.news-info{
    display: block;
    color: #f88e8e;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}
div.most-read-container{
    padding: 10px;
    border-top: 1px solid #d4d4d4;
}
div.most-read-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;
}
.most-read-number{
    width: 10%;
}
.most-read-text{
    width: 85%;
}
.most-read-text a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.most-read-text a {
    text-decoration: none;
    color: black;
}
.most-read-text a:hover {
    color: #f88e8e;
}
.most-read-text a span{
    width: 70%;
}
.most-read-img{
    text-align: center;
    width: 30%;
}
.most-read-img img{
    width: 80%;
}
.most-read-number span{
    padding: 4px;
    color: #f88e8e;
    background-color: #C0C0C0;
    font-weight: bold;
    border-radius: 50%;
    font-size: 35px;
}
.add-container .add-item{
    display: flex; 
    flex-direction: column;
    padding: 10px;
}
.add-container .add-item img{
    width: 100%;
}
.add-container .add-item span{
    text-decoration: none;
    color: black;
}
.add-container .add-item a:hover{
    text-decoration: none;
    color: black;
}
.add-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.no-border{
    border-bottom: 0;
}
.m-2{
    margin: 6px;
}
.mt-1{
    margin-top: 3px;
}
.mt-2{
    margin-top: 6px;
}
.mt-3{
    margin-top: 9px;
}
.mb-2{
    margin-bottom: 6px;
}
.mr-2{
    margin-right: 6px;
}
.text-center{
    text-align: center;
}
div.container{
    padding: 10px; 
    height:565px;
}
form div.form-container{
    display: flex; 
    flex-direction: column;
    margin-bottom: 15px;
}
.form-column{
    width: 100%
}
input{
    display: block;
    width: 100%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-input{
    display: block;
    width: 80%;
    padding: 5px;
    margin: 10px auto 0px auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
div.button-container{
    display: flex; 
    justify-content: center;
}
button.success{
    width: 50%;
    padding: 5px;
    border-radius: 4px; 
    border: 2px solid #4CAF50;
    font-family:'Roboto',sans-serif;
    font-weight: 300;
    cursor: pointer;
}
button.success:hover{
    color: #FFFFFF;
    background-color: #4CAF50;
    border: 2px solid #FFFFFF;
}
.input-error{
    border: 1px solid rgb(255, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
}
.msg-error{
    display: block;
    color: red;
    padding: 2px; 
    font-size: 12px; 
}
.hide{
    display: none;
}
@media (min-width: 480px) {
    main{
        display: flex;
        flex-wrap: wrap;
    }
    header{
        flex-wrap: wrap;
    }
    .column-main{
        width: 70%;
        order: 2;
    }
    .column-main-container{
        padding: 10px;
        border-left: 1px solid #d4d4d4;
    }
    .column-left-side{
        padding-top: 20px;
        width: 30%;
        order: 1;
    }
    .column-right-side{
        width: 100%;
        order: 3;
    }
    .toggle-menu{
        display: none;
    }
    nav{
        display: block;
        width: 95%;
        height: 35px;
    }
    nav .navbar{
        display: flex;
        justify-content: space-around;
        padding-top: 10px;

    }
    nav .navbar li a{
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-size: 11px;
    }
    nav .navbar li a:hover{
        background-color: #f88e8e;
    }
    .header-img{
        width: 7    0%;
        height: auto;
    }
    .left-side-container .secondary-news p{
        display: none;
    }
    .most-read-number{
        width: 10%;
    }
    .most-read-text{
        width: 85%;
    }
    .most-read-img{
        width: 35%;
    }
    .most-read-img img{
        width: 70%;
    }
    .left-side-container .secondary-news .sm-img{
        width: 70%;
    }
    .left-side-container .add-container{
        flex-direction: column;
        width: 100%;
    }
    .border-top{
        border-top: 1px solid #d4d4d4;
    }
}
@media (min-width: 650px) {
    nav .navbar li a{
        font-size: 13px;
    }
    .left-side-container .secondary-news a p{
        display: block;
    }
    form div.form-container{
        display: flex; 
        flex-direction: row;  
    }
    .form-column{
        width: 50%
    }
    input{
        width: 90%;
    }
    button.success{
        width: 25%;
    }
}
@media (min-width: 800px) {
    .column-main{
        width: 50%;
        order: 2;
    }
    .column-left-side{
        width: 25%;
        order: 1;
    }
    .column-right-side{
        width: 25%;
        order: 3;
    }
    nav .navbar li a{
        font-size: 16px;
    }
    .header-img{
        width: 50%;
        height: auto;
    }
    time.text-date{
        font-size: 15px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .column-main-container{
        border-right: 1px solid #d4d4d4;
    }
    .most-read-number{
        width: 10%;
    }
    .most-read-text a {
        display: block;
    }
    .most-read-text{
        width: 85%;
        font-size: 14px;
    }
    .most-read-img{
        display: none;
    }
    .right-side-container .add-container{
        flex-direction: column;
        width: 100%;
    }
    div.most-read-container{
        padding: 10px;
        border-top: 0;
    }
    .most-read-number span{
        padding: 4px;
        color: #f88e8e;
        background-color: #C0C0C0;
        font-weight: bold;
        border-radius: 50%;
        font-size: 25px;
    }
}
@media (min-width: 900px) {
    .most-read-number span{
        padding: 4px;
        color: #f88e8e;
        background-color: #C0C0C0;
        font-weight: bold;
        border-radius: 50%;
        font-size: 35px;
    }
    .most-read-text{
        width: 85%;
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .most-read-text a {
        display: flex;
    }
    .most-read-text{
        width: 85%;
    }
    .most-read-img{
        display: block;
    }
}